<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LavishLoo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('galleryPage') }}">LavishLoo</a>
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="{{ url_for('view_basket') }}">Basket</a></li>
    </ul>
  </nav>
  <div class="container mt-4">
    {% block content %}{% endblock %}
  </div>
</body>
</html>